<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111965434440-r8o3722v4l4cod2qnfrgio6bh0chdpun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111965434440-r8o3722v4l4cod2qnfrgio6bh0chdpun</string>
	<key>API_KEY</key>
	<string>AIzaSyBuOMFqo6yEJTuQB24Vo2ksVvc4mVwMa20</string>
	<key>GCM_SENDER_ID</key>
	<string>111965434440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boilerplate</string>
	<key>PROJECT_ID</key>
	<string>parentapp-90a1c</string>
	<key>STORAGE_BUCKET</key>
	<string>parentapp-90a1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111965434440:ios:00aa3c40f43d8c43e1de7d</string>
</dict>
</plist>